.venv
notes.md
cleaned_data

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Jupyter Notebook metadata
**/*.ipynb
!**/*.ipynb
**/*.ipynb filter=clean-ipynb

# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/